<div class="col-md-8 offset-md-1">
<h1>商品詳細</h1>
<table class="table table-hover table-inverse">
  <tbody>
  <tr>
    <td>
      <%= image_tag @item.get_image(100, 100) %>
    <th>商品名</th>
      <%= @item.name %><br>
    <th>商品説明</th>
      <%= @item.introduction %><br>
    <th>ジャンル</th>
      <%= @item.genre %><br>
    <th>税込価格（税抜価格）</th>
      <%= @item.price %><br>
    <th>販売ステータス</th>
      <%= @item.is_active %><br>

    <td><%= link_to "編集する", edit_admin_item(@item.id), class:"btn btn-success" %></td>
