  <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"></a>
  <% if customer_signed_in? %>
       <%#= link_to "マイページ", customers_path, class:"btn btn-outline-secondary" %>
       <P>マイページ</P>

       <%#= link_to "商品一覧", customer_items_path, class:"btn btn-outline-secondary" %>
          <P>商品一覧</P>

      <%#= link_to "カート", XXX_path, class:"btn btn-outline-secondary" %>
          <P>カート</P>

          <%= link_to "ログアウト", destroy_customer_session_path,method: :delete, class:"btn btn-outline-secondary" %>
          
  <% else %>

          <div class = "d_flex">

          <%= link_to "About", admin_items_path, class:"btn btn-outline-secondary" %>
            <%#= link_to "About", about_path, class:"nav-link text-light" %>



          <%= link_to "商品一覧", admin_items_path, class:"btn btn-outline-secondary" %>

          <%= link_to "新規登録", new_admin_item_path, class:"btn btn-outline-secondary" %>

          <%= link_to "ログイン", new_admin_session_path, class:"btn btn-outline-secondary" %>

          </div>
  <% end %>